body {

    background-color: #151328;
    color: white;
}



/* Para centralizar o container da busca */
.search-container {
    display: flex;
    justify-content: center;  /* Centraliza na horizontal */
    margin-top: 300px;  /* Joga ela mais para baixo do topo */



}

/* Para deixar a barra grande e bonita */
#movie-search {
    /* 1. Definimos a largura relativa e o novo 'teto' */
    width: 90%; 
    max-width: 1000px; /* Aqui aumentamos o limite para ela esticar mais */

    /* 2. A mágica da centralização */
    display: block;    /* Faz a barra se comportar como um bloco sólido */
    margin: 40px auto; /* 40px de espaço em cima/baixo e AUTO nas laterais centraliza o bloco */

    /* 3. Estética (mantenha o que você já fez de bonito) */
    padding: 15px 25px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: 2px solid #333;
    background: transparent;
    color: white;
    outline: none;     /* Remove aquela borda azul padrão ao clicar */
}
    

    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        font-size: 3rem; /* Aumenta o tamanho do titulo */
        white-space: nowrap;
    }

    header {
         display: flex;
         justify-content: flex-end;
         align-items: center;
         padding: 20px 50px;
         position: relative;
         height: 80px;
         margin-top: 0;
    }


nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #ccc;
}

main {
    display: none;
}

form {
    width: 100%;
    display: block;
}